@font-face {
    font-family: 'Lyon';
    src: url('../../fonts/Lyon.eot');
    src: url('../../fonts/Lyon.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Lyon.woff2') format('woff2'),
        url('../../fonts/Lyon.woff') format('woff'),
        url('../../fonts/Lyon.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('../../fonts/NeueHaasDisplay-Black.eot');
    src: url('../../fonts/NeueHaasDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/NeueHaasDisplay-Black.woff2') format('woff2'),
        url('../../fonts/NeueHaasDisplay-Black.woff') format('woff'),
        url('../../fonts/NeueHaasDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue Book';
    src: url('../../fonts/MaisonNeue-Book.eot');
    src: url('../../fonts/MaisonNeue-Book.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/MaisonNeue-Book.woff2') format('woff2'),
        url('../../fonts/MaisonNeue-Book.woff') format('woff'),
        url('../../fonts/MaisonNeue-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('../../fonts/MaisonNeue-Bold.eot');
    src: url('../../fonts/MaisonNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/MaisonNeue-Bold.woff2') format('woff2'),
        url('../../fonts/MaisonNeue-Bold.woff') format('woff'),
        url('../../fonts/MaisonNeue-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('../../fonts/MaisonNeue-Light.eot');
    src: url('../../fonts/MaisonNeue-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/MaisonNeue-Light.woff2') format('woff2'),
        url('../../fonts/MaisonNeue-Light.woff') format('woff'),
        url('../../fonts/MaisonNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue';
    src: url('../../fonts/MaisonNeue-Mono.eot');
    src: url('../../fonts/MaisonNeue-Mono.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/MaisonNeue-Mono.woff2') format('woff2'),
        url('../../fonts/MaisonNeue-Mono.woff') format('woff'),
        url('../../fonts/MaisonNeue-Mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Maison Neue Demi';
    src: url('../../fonts/MaisonNeue-Demi.eot');
    src: url('../../fonts/MaisonNeue-Demi.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/MaisonNeue-Demi.woff2') format('woff2'),
        url('../../fonts/MaisonNeue-Demi.woff') format('woff'),
        url('../../fonts/MaisonNeue-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

