/* home-page */
/* nav-bar  */
@media (max-width: 991px) {
  .nav-toggle-label {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    top: 119px;
    right: 0;
    width: 100%;
    display: none;
  }
  .nav-links:last-child {
    padding-bottom: 41px;
  }

  .get-btn {
    border: none;
    background-color: #ffffff;
    padding: 0px;
  }

  .nav-links li {
    padding: 15px;
    text-align: center;
  }

  .nav-toggle:checked + .nav-toggle-label + .nav-links {
    display: flex;
  }
}

/* home-ourProcess */

@media (max-width: 991px) {
  .home-ourProcess {
    height: auto;
    position: static;
  }

  .home-ourProcess .ourProcess-content {
    display: flex;
    flex-direction: column-reverse;
  }

  .home-ourProcess .container {
    background-color: #f8f8f8;
  }
  .home-ourProcess .left {
    width: 100%;
    position: static;
    padding: 101px 0px;
  }
  .home-ourProcess .right {
    width: calc(100% + 40px);
    margin-left: -20px;
    height: 420px;
    position: static;
  }

  .home-ourProcess .heading2 {
    margin-top: 50px;
  }
  .home-ourProcess .accordion {
    margin-top: 50px;
  }
  .home-ourProcess label {
    padding: 22px 0px;
  }

  .home-ourProcess input[type='radio']:checked + label + .content {
    padding-top: 18px;
    padding-bottom: 22px;
  }
}

/* footer */

@media (max-width: 1065px) {
  .footer{
    padding: 25px 0;
  }
  .footer-grid {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .git-btn {
    display: none;
  }
  .footer-grid .card4 {
    display: block;
  }
  .empty {
    height: 852px;
  }
  .footer-grid .card2 {
    flex-direction: row;
    justify-content: left;
  }
  .add {
    margin-top:2px;
  }

  .add-link{
    margin-top: 3px;
  }
  .mo-no{
    margin-top: 2px;
  }
}
/* case studies */
@media (max-width: 1065px) {
  .home-caseStudies {
    padding: 116px 0 100px;
  }
  .home-caseStudies .case-grid {
    margin-top: 34px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 575px) {
  .welcome .container {
    background-color: #ffffff;
  }
  .welcome .welcome-bg {
    position: static;
    height: 406px;
  }

  .welcome .welcome-content {
    padding-top: 50px;
    padding-bottom: 46px;
  }

  .welcome .heading1 {
    color: #707070;
    line-height: 16px;
    opacity: 25%;
  }

  .welcome .heading2 {
    color: var(--blue);
    font-size: 40px;
    line-height: 45px;
    font-family: var(--font-Maison);
    font-weight: 300;
    margin-top: 32px;
  }
  .welcome .welcome-btn {
    gap: 8px;
    margin-top: 25px;
  }
  .welcome .btn1:hover {
    color: var(--blue);
  }

  .welcome .btn2 {
    color: var(--blue);
  }

  .quote .slide-content {
    font-size: 30px;
    line-height: 40px;
  }
  .quote .swiper-backface-hidden .swiper-slide {
    padding-top: 106px;
    padding-bottom: 180px;
  }

  .home-aboutMeditation {
    padding: 100px 0px;
  }
  .home-aboutMeditation .paragraph1 {
    margin-top: 33px;
  }
  .home-aboutMeditation .paragraph2 {
    margin-top: 50px;
  }
  .home-aboutMeditation .btn1 {
    margin-top: 36px;
  }
  .home-caseStudies .case-grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
  }

  .tpa {
    padding: 54px 0;
  }
}

/* .WIM */

/* .WIM-aboutMeditation  */
@media (max-width: 960px) {
  .WIM-aboutMeditation {
    position: static;
    height: auto;
  }

  .WIM-aboutMeditation .aboutMeditation-content {
    width: calc(100% + 40px);
    margin-left: -20px;
  }
  .WIM-aboutMeditation .left {
    position: static;
    width: 100%;
  }

  .WIM-aboutMeditation .right {
    position: static;
    width: 100%;
    padding-bottom: 40px;
  }

  .WIM-aboutMeditation .heading1 {
    padding-top: 42px;
  }

  .WIM-aboutMeditation .heading2 {
    margin-top: 43px;
  }

  .WIM-aboutMeditation .paragraph2 {
    margin-top: 43px;
  }

  .WIM-aboutMeditation .btn1 {
    margin-top: 43px;
    padding-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .aboutPeter .aboutPeter-content {
    padding-block: 71px;
  }
  .WIM-faq .faq-content {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .WIM-faq .heading2 {
    font-size: 40px;
  }
  .WIM-faq .accordion {
    margin-top: 0px;
  }
}

/* processs */
/* our-process */
@media (max-width: 940px) {
  .Process-ourProcess {
    height: 1200px;
    position: static;
  }

  .Process-ourProcess .ourProcess-content {
    display: flex;
    flex-direction: column-reverse;
    width: calc(100% + 40px);
    margin-left: -20px;
  }

  .Process-ourProcess .left {
    width: 100%;
    position: static;
  }

  .Process-ourProcess .right {
    width: 100%;
    top: 0px;
    height: 420px;
    position: static;
  }

  .Process-ourProcess .heading2 {
    margin-top: 50px;
  }

  .Process-ourProcess .accordion {
    margin-top: 65px;
  }
}

/* otd */

@media (max-width: 960px) {
  .Process-otd {
    position: static;
    height: auto;
  }

  .Process-otd .otd-content {
    width: calc(100% + 40px);
    margin-left: -20px;
  }
  .Process-otd .left {
    position: static;
    width: 100%;
  }

  .Process-otd .right {
    position: static;
    width: 100%;
    padding-bottom: 40px;
  }

  .Process-otd .heading1 {
    padding-top: 42px;
  }

  .Process-otd .heading2 {
    margin-top: 43px;
  }

  .Process-otd .paragraph2 {
    margin-top: 43px;
  }

  .Process-otd .btn1 {
    margin-top: 43px;
    padding-bottom: 10px;
  }

  .Process-headline .headline-content {
    padding-bottom: 53px;
    padding-top: 71px;
  }
}

/* pfm */
@media (max-width: 1050px) {
  .Process-pfm .sub-content {
    flex-direction: column;
    align-items: center;
  }
}

/* Resorce-hub */
/* resourceHub-headline */

@media (max-width: 450px) {
  .resourceHub-headline .headline-content {
    padding-top: 71px;
    padding-bottom: 71px;
    font-size: 40px;
  }
}

/* case-studies */
@media (max-width: 1020px) {
  .case-Studies .filter-buttons {
    overflow: auto;
    width: calc(100% + 40px);
    margin-left: -20px;
    padding: 0px 20px;
  }

  .case-Studies .filter-buttons::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge (WebKit) */
  }
}

@media (max-width: 700px) {
  .case-Studies .case-grid {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 44px;
  }
  .case-Studies .lodeMore-btn {
    margin-top: 44px;
    margin-bottom: 44px;
  }
}

/* cs-open */
