* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --blue: #192647;
  --font-lyon: 'Lyon';
  --font-Neue: 'Neue Haas Grotesk Display Pro';
  --font-MaisonBook: 'Maison Neue Book';
  --font-Maison: 'Maison Neue';
  --font-demi: 'Maison Neue Demi';
  --font-neueHass: 'Neue Haas Grotesk Display Pro';
}
.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  max-width: 1440px;
}

a {
  display: inline-block;
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* home page */

/* nav-bar */

.navbar {
  padding: 26px 0px;
  top: 0;
  position: sticky;
  z-index: 10;
  background-color: #ffffff;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--blue);
}

.lg {
  font-size: 35px;
  font-family: var(--font-lyon);
  white-space: nowrap;
  line-height: 45px;
  font-weight: 100;
}
.desc {
  font-family: var(--font-Maison);
  font-size: 12px;
  white-space: nowrap;
  padding-left: 6px;
  border-left: 1px solid currentColor;
  line-height: 22px;
  display: block;
  font-weight: 300;
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 41px;
  font-size: 14px;
  font-family: var(--font-demi);
  line-height: 17px;
  align-items: center;
  white-space: nowrap;
}

.get-btn {
  padding: 15px 20px;
  border: 1px solid #ebebeb;
  border-radius: 30px;
  border-color: #ebebeb;
  background-color: #f8f8f8;
}
.get-btn:hover {
  filter: brightness(90%);
}

.nav-toggle {
  display: none;
}

.nav-toggle-label {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* welcome section */
.welcome {
  position: relative;
}

.welcome .welcome-bg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.welcome .welcome-content {
  padding-top: 200px;
  padding-bottom: 258px;
  width: 100%;
}

.welcome .heading1 {
  font-size: 14px;
  font-family: var(--font-Maison);
  color: #efefef;
  font-weight: 700;
}

.welcome .heading2 {
  font-size: 55px;
  font-family: var(--font-MaisonBook);
  color: #f8f8f8;
  margin-top: 17px;
  line-height: 65px;
  max-width: 625px;
}

.welcome .welcome-btn {
  margin-top: 28px;
  font-size: 14px;
  font-family: var(--font-demi);
  color: #ffffff;
  line-height: 17px;
  display: flex;
  gap: 13px;
}

.welcome .btn1 {
  background-color: var(--blue);
  transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  border-radius: 30px;
  padding: 15px 23px;
  border: 1px solid;
  border-color: var(--blue);
}
.welcome .btn1:hover {
  border-color: #ebebeb;
  background-color: transparent;
}

.welcome .btn2 {
  border: 1px solid;
  border-color: #ebebeb;
  border-radius: 30px;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
  padding: 15px 23px;
}

.welcome .btn2:hover {
  background-color: var(--blue);
  border-color: var(--blue);
}

/* quote section */
.quote {
  background-color: var(--blue);
}

.quote .swiper-backface-hidden .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 127px;
  padding-bottom: 160px;
}

.quote .slide-content {
  font-family: var(--font-Maison);
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 700px;
  color: #f8f8f8;
}

.quote .slide-content1 {
  font-size: 100px;
  width: 46px;
  line-height: 55px;
}

.quote .slide-content2 {
  font-size: 45px;
  max-width: 662px;
  line-height: 55px;
}

.quote .slide-content3 {
  font-size: 16px;
  margin-top: 48px;
  opacity: 50%;
}
.swiper-pagination {
  margin-bottom: 80px;
}
span.swiper-pagination-bullet {
  background: rgb(87, 96, 119);
}

.quote .swiper-pagination-bullet-active {
  background-color: rgb(239, 239, 239);
}

.swiper .swiper-pagination .swiper-pagination-bullet {
  height: 1px;
  width: 35px;
  border-radius: 0;
}

/* .home-aboutMeditation section */
.home-aboutMeditation {
  background-color: #ffffff;
  padding: 130px 0px;
}

.home-aboutMeditation .aboutMeditation-content {
  color: var(--blue);
  max-width: 915px;
}

.home-aboutMeditation .heading1 {
  font-family: var(--font-Maison);
  font-weight: 700;
  font-size: 14px;
  color: #707070;
  opacity: 0.5;
}

.home-aboutMeditation .paragraph1 {
  font-family: var(--font-Maison);
  font-weight: 300;
  font-size: 45px;
  opacity: 1;
  margin-top: 40px;
  line-height: 55px;
}

.home-aboutMeditation .paragraph2 {
  font-family: var(--font-Maison);
  font-weight: 300;
  font-size: 20px;
  opacity: 75%;
  margin-top: 30px;
  max-width: 700px;
  line-height: 30px;
}
.home-aboutMeditation .btn1 {
  font-family: var(--font-MaisonBook);
  font-weight: normal;
  font-size: 20px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.home-aboutMeditation .btn1 .arrow {
  width: 12.63px;
  height: 9.23px;
}

/* .home-ourProcess section */
.home-ourProcess {
  height: 783px;
  position: relative;
}
.home-ourProcess .ourProcess-content {
  color: var(--blue);
}

.home-ourProcess .left {
  background-color: #f8f8f8;
  width: 50%;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}

.home-ourProcess .right {
  width: 50%;
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
}

.home-ourProcess .heading1 {
  color: #707070;
  font-size: 14px;
  opacity: 50%;
  font-family: var(--font-Maison);
  font-weight: 700;
}

.home-ourProcess .heading2 {
  font-family: var(--font-Maison);
  font-weight: 300;
  font-size: 45px;
  margin-top: 110px;
  max-width: 382px;
  line-height: 55px;
}

.home-ourProcess .accordion {
  margin-top: 45.5px;
  max-width: 540px;
}

.home-ourProcess .accordion-item {
  border-top: 1px solid rgb(228, 228, 228);
}
.home-ourProcess .accordion:last-child {
  border-bottom: 1px solid rgb(228, 228, 228);
}

.home-ourProcess input[type='radio'] {
  display: none;
}

.home-ourProcess label {
  font-family: var(--font-MaisonBook);
  font-weight: normal;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0px;
  cursor: pointer;
}

.home-ourProcess .arrow {
  width: 46px;
  height: 46px;
  transition: transform 0.3s ease;
  border: 1px solid #ebebeb;
  border-radius: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-ourProcess .arrow img {
  transform: rotate(180deg);
  width: 13.63px;
  height: 18.66px;
}

.home-ourProcess input[type='radio']:checked + label .arrow {
  transform: rotate(180deg);
}

.home-ourProcess .content {
  font-family: var(--font-Maison);
  font-weight: 300;
  font-size: 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  opacity: 75%;
  line-height: 26px;
}

.home-ourProcess input[type='radio']:checked + label + .content {
  max-height: 200px;
  padding-top: 16px;
  padding-bottom: 30.5px;
}

/* .home-caseStudies section */
.home-caseStudies {
  width: 100%;
  background-color: #ffffff;
  padding-top: 145px;
  padding-bottom: 129px;
}
.home-caseStudies .content1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-caseStudies .heading1 {
  font-family: var(--font-neueHass);
  font-weight: 500;
  color: var(--blue);
  font-size: 14px;
  letter-spacing: 0.28px;
}
.home-caseStudies .viewAll-btn {
  font-family: var(--font-demi);
  font-weight: normal;
  color: var(--blue);
  font-size: 14px;
  padding: 17px 24px;
  border: 1px solid #ebebeb;
  border-radius: 30px;
}

.home-caseStudies .case-grid {
  margin-top: 46px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 73px;
}
.home-caseStudies .case-card {
  background-color: #fff;
  border: 1px solid #efefef;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease;
}
.home-caseStudies .case-card:hover {
  transform: translateY(-5px);
}
.home-caseStudies .cardImg {
  width: 100%;
  height: 336px;
}
.home-caseStudies .card-text {
  padding: 30px 20px 20px 32px;
  color: var(--blue);
}
.home-caseStudies .case-type {
  font-family: var(--font-Maison);
  font-weight: 300;
  font-size: 16px;
  opacity: 75%;
  font-weight: 100;
}

.home-caseStudies .case-summary {
  font-family: var(--font-MaisonBook);
  font-weight: normal;
  font-size: 22px;
  margin-top: 7px;
  line-height: 30px;
  max-width: 302px;
}
.home-caseStudies .case-btn {
  margin-top: 21px;
}
.home-caseStudies .case-btn img {
  height: 46px;
  width: 46px;
}

/* tpa section */
.tpa {
  width: 100%;
  background-color: #eceded;
  padding: 120px 0;
}

.tpa .tpa-content {
  font-family: var(--font-Maison);
  font-weight: 300;
  max-width: 560px;
}

.tpa .tpa-content .tpa-Que {
  font-size: 45px;
  color: #1c2645;
  line-height: 55px;
}

.tpa .tpa-content .tpa-helpLine {
  font-size: 14px;
  color: #ffffff;
  padding: 15px 26px;
  background-color: var(--blue);
  border: 3px solid #192647;
  border-radius: 30px;
  display: inline-block;
  margin-top: 27.5px;
  letter-spacing: 2px;
}

.empty {
  width: 100%;
  height: 310px;
}
/* footer */
.footer {
  background-color: var(--blue);
  color: rgb(255, 255, 255);
  font-family: var(--font-Maison);
  font-weight: 300;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -2;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-grid {
  display: flex;
  justify-content: space-between;
}
.git-btn {
  padding: 12px 24px;
  border: 2px solid rgb(182, 185, 194);
  border-radius: 30px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.footer-grid .card4 {
  display: none;
}
.git-btn2 {
  padding: 12px 24px;
  border: 2px solid rgb(182, 185, 194);
  border-radius: 30px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  gap: 34px;
}

.footer-links a {
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-grid .card1 {
  display: flex;
  flex-direction: column;
  gap: 148px;
  align-items: flex-start;
}

.footer-grid .card2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  flex-direction: column;
  gap: 30px;
}

.footer-logo1 {
  height: 92px;
  width: 92px;
}
.footer-logo2 {
  height: 50px;
  width: 132px;
}

.footer-grid .card3 {
  max-width: 218px;
}
.brn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-city {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.add {
  font-size: 14px;
  color: #ccc;
  line-height: 1.6;
  margin-top: 13px;
  line-height: 26px;
}

.add-link {
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease;
  margin-top: 7px;
}
.mo-no {
  font-size: 14px;
  margin-top: 5px;
}

/* WIM */

/* about .aboutPeter */

.aboutPeter {
  background-color: #ffffff;
  padding: 101px 0 113px;
}
.aboutPeter .aboutPeter-content {
  max-width: 812px;
}

.aboutPeter .heading1 {
  font-family: var(--font-Maison);
  font-weight: 300;
  font-size: 45px;
  color: var(--blue);
  line-height: 55px;
}

.aboutPeter .paragraph1 {
  font-family: var(--font-Maison);
  font-weight: 300;
  font-size: 16px;
  margin-top: 30px;
  opacity: 75%;
  max-width: 526px;
  line-height: 26px;
}

.aboutPeter .aboutPeter-btn {
  font-family: var(--font-demi);
  font-weight: normal;
  margin-top: 25px;
  font-size: 14px;
  display: flex;
  align-items: center;
  padding: 0px;
  gap: 15px;
}

.aboutPeter .btn1 {
  background-color: var(--blue);
  border: 1px solid;
  border-color: #f8f8f8;
  border-radius: 30px;
  color: #ffffff;
  padding: 17px 28px;
  transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out, color 0.4s ease-in-out;
}
.aboutPeter .btn1:hover {
  border-color: #ebebeb;
  background-color: transparent;
  color: var(--blue);
}

.aboutPeter .btn2 {
  border: 1px solid;
  border-color: #ebebeb;
  border-radius: 30px;
  color: var(--blue);
  padding: 17px 28px;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.aboutPeter .btn2:hover {
  background-color: var(--blue);
  border-color: #f8f8f8;
  color: #ffffff;
}

/* WIM-aboutMeditation */

.WIM-aboutMeditation {
  position: relative;
  height: 746px;
}

.WIM-aboutMeditation .left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.WIM-aboutMeditation .right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  background-color: var(--blue);
  height: 100%;
  padding: 92px 20px;
  display: flex;
  justify-content: center;
}

.WIM-aboutMeditation .heading1 {
  font-family: var(--font-Maison);
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.5;
}
.WIM-aboutMeditation .heading2 {
  font-family: var(--font-Maison);
  font-weight: 300;
  font-size: 35px;
  color: #ffffff;
  margin-top: 64px;
}
.WIM-aboutMeditation .paragraph1 {
  font-family: var(--font-Maison);
  font-weight: 300;
  font-size: 16px;
  opacity: 75%;
  color: #f8f8f8;
  margin-top: 45px;
  line-height: 26px;
  max-width: 540px;
}

.WIM-aboutMeditation .paragraph2 {
  font-family: var(--font-Maison);
  font-weight: 300;
  font-size: 16px;
  opacity: 75%;
  color: #f8f8f8;
  line-height: 26px;
  margin-top: 15px;
  max-width: 540px;
}

.WIM-aboutMeditation .btn1 {
  font-family: var(--font-MaisonBook);
  font-weight: normal;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ffffff;
  margin-top: 45px;
}
.WIM-aboutMeditation .arrow {
  width: 12.63px;
  height: 9.23px;
}

/* WIM-faq */
.WIM-faq {
  background-color: #ffffff;
  padding: 168px 0;
}
.WIM-faq .flex-wrapper {
  display: flex;
  justify-content: center;
}

.WIM-faq .faq-content {
  width: 100%;
  max-width: 850px;
}

.WIM-faq .heading1 {
  font-family: var(--font-Maison);
  font-weight: 700;
  font-size: 14px;
  opacity: 50%;
  color: #707070;
  border-bottom: 1px solid rgb(228, 228, 228);
  padding-bottom: 28px;
}

.WIM-faq .heading2 {
  font-family: var(--font-Maison);
  font-weight: 300;
  font-size: 45px;
  color: var(--blue);
  margin-top: 40px;
}

.WIM-faq .accordion {
  margin-top: 94px;
}

.WIM-faq .accordion-item {
  border-bottom: 1px solid rgb(228, 228, 228);
}
.WIM-faq input[type='radio'] {
  display: none;
}

.WIM-faq label {
  font-family: var(--font-MaisonBook);
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
  padding: 33px 0px;
}

.WIM-faq .arrow {
  width: 46px;
  height: 46px;
  transition: transform 0.3s ease;
  border: 1px solid #ebebeb;
  border-radius: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.WIM-faq .arrow img {
  transform: rotate(180deg);
  width: 13.63px;
  height: 18.66px;
}

.WIM-faq input[type='radio']:checked + label .arrow {
  transform: rotate(180deg);
}

.WIM-faq .content {
  font-family: var(--font-Maison);
  font-weight: 300;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  line-height: 26px;
  font-size: 16px;
  opacity: 75%;
}
.WIM-faq input[type='radio']:checked + label + .content {
  max-height: 200px;
  padding: 7px 0 33px;
}

/* process */
/* .Process-headline */
.Process-headline {
  background-color: #ffffff;
  padding: 100px 0 150px;
}
.Process-headline .headline-content {
  max-width: 812px;
}

.Process-headline .heading1 {
  font-family: var(--font-Maison);
  font-weight: 300;
  font-size: 45px;
  color: var(--blue);
}

.Process-headline .paragraph1 {
  font-family: var(--font-Maison);
  font-weight: 300;
  font-size: 16px;
  color: var(--blue);
  opacity: 75%;
  margin-top: 26px;
  max-width: 524px;
  line-height: 26px;
}

.Process-headline .btn1 {
  font-family: var(--font-demi);
  font-weight: normal;
  font-size: 14px;
  background-color: var(--blue);
  padding: 18px 27px;
  border-radius: 30px;
  color: #ffffff;
  margin-top: 33px;
}

/* our-process */
.Process-ourProcess {
  height: 931px;
  position: relative;
}
.Process-ourProcess .ourProcess-content {
  color: var(--blue);
}

.Process-ourProcess .left {
  background-color: #f8f8f8;
  width: 50%;
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 20px;
}
.Process-ourProcess .right {
  width: 50%;
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
}

.Process-ourProcess .heading1 {
  color: #707070;
  font-size: 14px;
  opacity: 50%;
  font-family: var(--font-Maison);
  font-weight: 700;
}

.Process-ourProcess .heading2 {
  font-family: var(--font-Maison);
  font-weight: 300;
  font-size: 45px;
  margin-top: 110px;
  line-height: 55px;
  max-width: 438px;
}

.Process-ourProcess .accordion {
  margin-top: 45px;
  max-width: 540px;
}

.Process-ourProcess .accordion-item {
  border-top: 1px solid rgb(228, 228, 228);
}
.Process-ourProcess .accordion:last-child {
  border-bottom: 1px solid rgb(228, 228, 228);
}

.Process-ourProcess input[type='radio'] {
  display: none;
}

.Process-ourProcess label {
  font-family: var(--font-MaisonBook);
  font-weight: normal;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0px;
  cursor: pointer;
}

.Process-ourProcess .arrow {
  width: 46px;
  height: 46px;
  transition: transform 0.3s ease;
  border: 1px solid #ebebeb;
  border-radius: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Process-ourProcess .arrow img {
  transform: rotate(180deg);
  width: 13.63px;
  height: 18.66px;
}

.Process-ourProcess input[type='radio']:checked + label .arrow {
  transform: rotate(180deg);
}

.Process-ourProcess .content {
  font-family: var(--font-Maison);
  font-weight: 300;
  font-size: 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.4s ease;
  opacity: 75%;
  line-height: 26px;
}

.Process-ourProcess input[type='radio']:checked + label + .content {
  max-height: 200px;
  padding-top: 16px;
  padding-bottom: 30px;
}

/* process-pfm */
.Process-pfm {
  background-color: rgb(236, 237, 237);
  padding: 160px 0 114px;
}
.Process-pfm .pfm-content {
  max-width: 1064px;
}

.Process-pfm .heading1 {
  font-family: var(--font-Maison);
  font-weight: 700;
  font-size: 14px;
  color: #707070;
  opacity: 50%;
}
.Process-pfm .heading2 {
  font-family: var(--font-Maison);
  font-weight: 300;
  font-size: 45px;
  color: var(--blue);
  margin-top: 80px;
  line-height: 55px;
}

.Process-pfm .sub-content {
  display: flex;
  justify-content: space-between;
  margin-top: 141px;
}

.Process-pfm .subContent1 {
  max-width: 490px;
  line-height: 26px;
}

.Process-pfm .subHeading1 {
  font-family: var(--font-Maison);
  font-weight: 700;
  line-height: 30px;
  font-size: 14px;
  color: var(--blue);
  padding-bottom: 23px ;
  border-bottom: 1px solid rgb(218, 219, 219);
}


.Process-pfm .subParagraph1,.subList1{
  font-size: 16px;
  color: var(--blue);
  opacity: 75%;
  max-width: 500px;
  line-height: 26px;
  list-style-image: url(/McLaw/assests/images/icons/blue-circle-bullet.png);
}
.Process-pfm .subParagraph1{
  font-family: var(--font-MaisonBook);
  font-weight: normal;
  margin-top: 28px;
}
.Process-pfm .subList1 {
  margin-top: 44px;
  font-family: var(--font-Maison);
  font-weight: 300;
}
.Process-pfm .listItem{
  margin-bottom: 26px;
  margin-left: 20px;
  padding-left: 19px;
}

/* otd */

.Process-otd {
  position: relative;
  height: 854px;
}

.Process-otd .left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.Process-otd .right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  background-color: var(--blue);
  height: 100%;
  display: flex;
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}
.Process-otd .right-content{
  max-width: 540px;
}

.Process-otd .heading1 {
  font-family: var(--font-Maison);
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  opacity: 0.5;
}

.Process-otd .heading2 {
  font-family: var(--font-Maison);
  font-weight: 300;
  font-size: 35px;
  color: #ffffff;
  margin-top: 64px;
  line-height: 45px;
}
.Process-otd .paragraph1 {
  font-family: var(--font-Maison);
  font-weight: 300;
  font-size: 16px;
  opacity: 75%;
  color: #f8f8f8;
  margin-top: 45px;
  line-height: 26px;

}

.Process-otd .paragraph2,
.paragraph3 {
  font-family: var(--font-Maison);
  font-weight: 300;
  font-size: 16px;
  opacity: 75%;
  color: #f8f8f8;
  line-height: 26px;
  margin-top: 15px;
}

.Process-otd .btn1 {
  font-family: var(--font-MaisonBook);
  font-weight: normal;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #ffffff;
  margin-top: 50px;
}
.Process-otd .btn1 img {
  width: 12.63px;
  height: 9.23px;
}

/* resource-hub */

/* headline */
.resourceHub-headline {
  background-color: #fff;
  margin-bottom: -1px;
}

.resourceHub-headline .headline-content {
  font-family: var(--roboto-font);
  font-size: 45px;
  padding-top: 82px;
  padding-bottom: 109px;
  max-width: 658px;
}

.resourceHub-headline .heading1 {
  color: var(--grey2);
  white-space: nowrap;
}
.resourceHub-headline .heading2 {
  color: var(--blue);
}

/* case-studies */

.case-Studies {
  font-family: var(--roboto-font);
  background-color: #ffffff;
  padding-top: 27.5px;
}

.case-Studies input[type='radio'] {
  display: none;
}

.case-Studies .filter-buttons {
  font-size: 14px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.case-Studies .filter-btn,
.all-btn {
  border: 2px solid;
  border-color: var(--grey2);
  padding: 11px 17px;
  border-radius: 30px;
  color: var(--blue);
  display: inline-block;
}

.case-Studies .case-grid {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 73px;
  margin-top: 44px;
}

.case-Studies .case-card {
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  transition: transform 0.3s ease;
  display: none;
}
.case-Studies .case-card:hover {
  transform: translateY(-5px);
}
.case-Studies .cardImg {
  width: 100%;
  height: 400px;
  display: block;
}
.case-Studies .card-text {
  padding: 20px;
  font-family: var(--roboto-font);
  color: var(--blue);
}
.case-Studies .case-type {
  font-size: 16px;
  opacity: 75%;
  margin-top: 54px;
}

.case-Studies .case-summary {
  font-size: 22px;
  margin-top: 24px;
  max-width: 392px;
  line-height: 34px;
}

.case-Studies .case-btn img {
  margin-top: 24px;
  margin-bottom: 45px;
}

.case-Studies #view-all:checked ~ .container .all-btn,
.case-Studies #meditation:checked ~ .container .filter-btn.mediation-btn,
.case-Studies #workplace_employment:checked ~ .container .filter-btn.workplace_employment-btn,
.case-Studies #civil_commercial:checked ~ .container .filter-btn.civil_commercial-btn,
.case-Studies #family_bussiness:checked ~ .container .filter-btn.family_bussiness-btn {
  background-color: var(--blue);
  padding: 11px 17px;
  border-radius: 30px;
  color: var(--primary-color);
  display: inline-block;
}

.case-Studies #view-all:checked ~ .container .case-card,
.case-Studies #meditation:checked ~ .container .case-card.meditation,
.case-Studies #workplace_employment:checked ~ .container .case-card.workplace_employment,
.case-Studies #civil_commercial:checked ~ .container .case-card.civil_commercial,
.case-Studies #family_bussiness:checked ~ .container .case-card.family_bussiness {
  display: block;
}

.case-Studies .lodeMore-btn {
  background-color: var(--blue);
  padding: 11px 17px;
  border-radius: 30px;
  color: var(--primary-color);
  display: inline-block;
  margin-bottom: 114px;
  margin-top: 114px;
}

/* cs-open */

/* .csOpen-headline */

.csOpen-headline .headline-content {
  padding: 83px 0px;
  font-family: var(--roboto-font);
  color: var(--blue);
  max-width: 632px;
}
.csOpen-headline .heading1 {
  font-weight: normal;
  opacity: 75%;
  font-size: 16px;
}

.csOpen-headline .heading2 {
  font-size: 45px;
  font-weight: normal;
}
