:root{
    --playfair-font: "Playfair", serif;
    --roboto-font: "Roboto", sans-serif;
    --primary-color: var(--white);
    --secondary-color:var(--blue);
    --background-color1:var(--grye1);
    --backgrond-color2:var(--grye2);

    --white:#FFFFFF;
    --grey1:#F8F8F8;
    --grey2:#ECEDED;
    --blue:#192647;    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container{
    margin:0 auto;
    padding: 0 20px;
    width: 100%;
    /* max-width:  1440px;    */
}

a{
    display: inline-block;
    color:currentColor;
    text-decoration: none;
    cursor:pointer;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.navbar{
    padding: 26px;   
    top: 0;
    position: sticky;
    z-index: 10;
    background-color: var(--primary-color);
 
}

.navbar-content{
    display:flex;
    justify-content: space-between;
    align-items: center; 
}

.logo{
    max-width:274px;     
}
.lg{
    font-size: 35px;
    color: var(--blue);
    font-family: var(--playfair-font);
    white-space: nowrap;
}
.desc{
    font-family: var(--roboto-font);
    color: var(--blue);
    font-size: 12px;
    white-space: nowrap;
    padding-left: 6px;
    border-left: 1px solid #626772  ;
    font-weight:lighter;
}



.nav-links{
    display: flex;
    list-style-type: none;
    gap: 41px;
    margin-right: 20px;
    font-size:14px;
    font-family:var(--roboto-font);
    color:var(--blue);
    font-weight: bold;
    align-items: center;
    white-space: nowrap;    
}
.get-btn{
    padding:15px 20px 15px 20px;
    border: 1px solid #EBEBEB;
    background-color: var(--grey1);
    border-radius: 30px;
    border-color: #EBEBEB;
}

.welcome{
    background-image: url(/McLaw/assests/images/vetors/homeImg1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 701px;
    width: 100%;
    margin-top: -30px;
    position: relative;
    z-index: 1; 
    
}
.welcome .container{
    height: 100%;
}


.welcome-content{
    width:625px;  
    position: relative;
    top: 200px;
    left: 82px;
}

.welcome-content  .heading1 {
    font-size: 14px;
    font-family: var(--roboto-font);
    color: #EFEFEF;
    white-space: nowrap;
}


.welcome-content .heading2{
    font-size: 55px;
    font-family: var(--roboto-font);
    color: var(--grey1);
    margin-top: 17px;
 

}

.welcome-btn{
    margin-top: 27.5px ;
    font-size: 14px;
    font-family: var(--roboto-font);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    padding: 0px;
    gap:13px;
    
}

.welcome-content .btn1{
    background-color: var(--blue);
    padding :18px 22.5px;
    border-radius: 30px;

}

.welcome-content .btn2{
    border: 1px solid ;
    border-color: #EBEBEB;
    padding :18px 22.5px;
    border-radius: 30px;
}
.quote {
  width: 100%;
  height: 610px;
  background-color: var(--blue);
}
.quote .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 100%;
  height: 100%;
}



.swiper-backface-hidden .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;  

}

.slide-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    text-align: center;  
    max-width:508px;
    color: #EFEFEF;
}

.slide-content1 {
  font-size: 100px;
  width: 46px;
  height: 118px;
}

.slide-content2 {
  font-size: 20px;
  width: 662;
  height: 168;
  font-size: 45px;
}

.slide-content3 {
  font-size: 16px;
  margin-top: 48px;
  opacity: 50%;
}

.swiper-pagination{
    margin-bottom: 17px;
    
}


.home-aboutMeditation{
    width: 100%;
    height: 638px;
    background-color: var(--primary-color);  
}

.home-aboutMeditation .container{
    height: 100%;
    display: flex;
   
    align-items: center;
}
    


.aboutMeditation-content{
    font-family: var(--roboto-font);
    color: var(--blue);
    max-width: 915px;
    position: relative;
    left: 80px;
}

.aboutMeditation-content .heading1{
    font-size: 14px;
    color: #707070;
    opacity: 0.5;
}

.aboutMeditation-content .paragraph1{
    font-size: 45px;
    
    opacity:1;
    margin-top:40px;
}

.aboutMeditation-content .paragraph2{
    font-size: 20px;
    opacity: 75%;
    margin-top: 30px;
    width:700px;
}
.aboutMeditation-content .btn1{
    font-size: 20px;
    padding-top: 40px;
    display: flex;
    align-items: center;
    gap:8px;
}
.aboutMeditation-content .btn1 img{
    width: 9.23px;
    height: 12.63;
}

.home-ourProcess{
    height: 783px;
    width: 100%;
}
.home-ourProcess .container{
    height: 100%;
}

.ourProcess-content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--roboto-font);
    color:var(--blue);
    height: 100%;

}

.ourProcess-content .left {

    width: 49.50%;
    height: 100%;   
    background-color: #F8F8F8;
}

.ourProcess-content .left .left-content{
    height: 100%;
    padding-left:60px;
    
    .heading1{
        font-size:14px;
        opacity:50%;
        position: relative;
        padding-top: 80px ;
        display: block;
    }   
    

    .heading2{
        font-size: 45px;
        margin-top: 110px;
        width: 382px;
    }

    .accordion {
      margin-top: 70px;
      margin-right: 92px;
    }

    .accordion-item {
      border-bottom: 1px solid var(--grey2);
      border-top: 1px solid var(--grey2);
    }

    input[type="radio"] {
      display: none;
    }

    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0px;
      cursor: pointer;
      font-weight: bold;
      position: relative;
      padding-right: 11px;
      
    }

    .arrow {
        width: 46px;
        height: 46px;
        transition: transform 0.3s ease;
        object-fit: fill;   
        border: 1px solid #EBEBEB;
        padding: 10px;
        border-radius: 75%;
    }

    input[type="radio"]:checked + label .arrow {
      transform: rotate(90deg);
    }

    .content {
      max-height: 0;
      overflow: hidden;
      /* padding: 0 15px; */
      transition: max-height 0.4s ease, padding 0.4s ease;
    }

    input[type="radio"]:checked + label + .content {
      max-height: 200px;
      padding: 10px 15px 15px 0px;
    }
}
.ourProcess-content .right{
    height:100%;
    width: 50.50%;
}


.home-caseStudies{
    width: 100%;
    height: 880px;
    background-color: var(--primary-color);
}

.home-caseStudies .container{
    height: 100%;
}

.caseStudies-content .content1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--roboto-font);
    color: var(--blue) ;
    font-size: 14px;
    padding: 60px;
    .viewAll-btn{
        padding :15px 22px;
        border: 3px solid var(--grey1);
        border-radius: 25%;
    }  
}

.home-caseStudies .container .caseStudies-content{
    .case-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards in one row */
  gap: 73px;
  padding-right:60px;
  padding-left: 60px;
        
}

.case-card {
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  transition: transform 0.3s ease;
}

.case-card:hover {
  transform: translateY(-5px);
}

.case-card .cardImg {
  width: 100%;
  height: 336px;
  display: block;
}

.card-text {
  padding: 20px;
  font-family: var(--roboto-font);
    color: var(--blue);

}

.case-type {
  font-size: 16px;
  opacity: 75%;
  margin-top: 30px;
  
}

.case-summary {
  font-size: 22px;
 
  margin-top: 7px;
    
}

.case-btn img {
 
  padding: 10px;
  border: 3px solid var(--grey2);
  color: #fff;
  text-decoration: none;
  border-radius: 100%;
  font-weight: 500;
  transition: background-color 0.3s ease;
  margin-top: 21px;
}

.case-btn:hover {
  background-color: var(--grey1)    ; /* Darker blue on hover */
}
}


.tpa{
    width: 100%;
    height: 770px;
    
     
}
.tpa .container{
    height: 424px;
    background-color: #ECEDED;

}

.tpa-content{
    font-family: var(--roboto-font);
    position: relative;
    top: 119px;
    left: 80px;
    width: 560px;
}
.tpa-content .tpa-Que{
    font-size: 45px;
    color: #1C2645;
}


.tpa-content .tpa-helpLine{
    font-size: 14px;
    color: #FFFFFF;
    padding: 18px 26px;
    background-color: var(--blue);
    border: 3px solid #192647;
    border-radius: 24px;
    display: inline-block;
    margin-top: 27.5px;

}




.footer {
  background-color: var(--blue); 
  color: var(--grey1);
  font-family: var(--roboto-font);
  height: 346px;
  position: fixed;
  bottom:0;
  z-index: -1;

 
}

.footer .container {
    height: 100%;
}



.footer-content {
    height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 10px;
}



.git-btn {
  padding: 12px 24px;
  border: 2px solid var(--grey1);
  border-radius: 30px;
  font-weight: bold;
  transition: background-color 0.3s ease;

 
}




.git-btn:hover {
  background-color: #0056b3;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  gap: 34px;  
}

.footer-links a {

  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
}


.footer-grid .card1{
    display: flex;
    flex-direction: column;
    gap:148px;   
    align-items: flex-start;
    padding-left: 70px;
}

.footer-grid .card2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    flex-direction: column;
    gap: 30px;

}



.footer-logo1{
  height:92px;
  width: 92px;
}
.footer-logo2 {
  height:50px;
  width: 132px;
}

.footer-grid .card3{
    padding-right: 103px;
}

.brn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-city {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 5px;
}

.add {
  font-size: 14px;
  color: #ccc;
  line-height: 1.6;
  padding-top: 13px;
}

.add-link {
  color: #007BFF;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease;
  padding-top: 7px;
}

.add-link:hover {
  color: #0056b3;
}

.mo-no {
  font-size: 14px;
  color: #aaa;
  margin-top: 5px;
}



